@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
/* navbar */
.nav_bar {
  padding: 30px;
  background-color: #161234;
  width: 250px;
  height: 100%;
  position: fixed;
  color: #a8a6b7;
}
.dp_img {
  border-radius: 25px;
  margin: 0 0 15px;
}
.dp_name {
  color: #fff;
  margin-bottom: 30px;
}
.list_head {
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}
.nav_list1 {
  list-style-type: none;
}
.nav_list1 li {
  padding: 10px 0;
}
.nav_list1 svg {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.active_li,
.active_li svg {
  color: #fff;
}
.nav_play_div {
  padding: 17px;
  border-radius: 25px;
  background-image: linear-gradient(
    135deg,
    hsl(273deg 44% 73%) 0%,
    hsl(273deg 46% 69%) 3%,
    hsl(272deg 48% 66%) 13%,
    hsl(272deg 49% 63%) 26%,
    hsl(272deg 51% 60%) 40%,
    hsl(272deg 51% 56%) 55%,
    hsl(272deg 52% 53%) 70%,
    hsl(272deg 55% 49%) 84%,
    hsl(272deg 66% 45%) 95%,
    #6f0fbd 100%
  );
  box-shadow: #6f0fbd 0px 0px 10px;
}
.play_img {
  border-radius: 15px;
  margin-right: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.nav_play_t h5{
    color:#fff;
    font-size:20px;
    font-weight:400;
}
.nav_play_t p{
    color:#dedede;
    font-size:13px;
    font-weight:400;
}
.nav_play_b {
  padding-top: 20px;
}
.nav_play_div svg {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* aside right */
.aside_r{
    float: right;
    width:200px;
    height:100%;
    overflow: hidden;
    background-color: #ddd;
}
